/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    font-size: 24px;
    /* Tamaño de fuente más pequeño para dispositivos móviles */
    margin-top: 20px;
}

/* Clase para el botón "grabando" (verde) */
.recording-button {
    background-color: green;
    /* Cambiar el color de fondo a verde */
    color: white;
    /* Color de texto en botones activos */
    padding: 10px 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    /* Tamaño de fuente común para botones activos */
    border-radius: 5px;
}

/* Clase para el botón "sin grabar" (rojo) */
.not-recording-button {
    background-color: red;
    /* Cambiar el color de fondo a rojo */
    color: white;
    /* Color de texto en botones inactivos */
    padding: 10px 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    /* Tamaño de fuente común para botones inactivos */
    border-radius: 5px;
}

audio {
    margin: 20px 0;
    max-width: 100%;
    /* Hace que el reproductor de audio se ajuste al ancho de la pantalla */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
        /* Tamaño de fuente aún más pequeño para pantallas más pequeñas */
    }

    /* Estilos de botones para dispositivos móviles */
    .recording-button,
    .not-recording-button {
        font-size: 14px;
        /* Tamaño de fuente más pequeño para pantallas más pequeñas */
        padding: 8px 16px;
    }
}